### List

In [1]:
a = [1, 2, 3, 4, 5, 6, 6, 7, 8, 2, 3, 5, 6, 2, 5]
b = [4.4, 3.4, 4.7, 3.2, 2.5, 3.5]
c = ["one", "two", "three", "four", "five"]

In [2]:
a + b

[1, 2, 3, 4, 5, 6, 6, 7, 8, 2, 3, 5, 6, 2, 5, 4.4, 3.4, 4.7, 3.2, 2.5, 3.5]

In [3]:
b * 2

[4.4, 3.4, 4.7, 3.2, 2.5, 3.5, 4.4, 3.4, 4.7, 3.2, 2.5, 3.5]

In [4]:
d = [x*2 for x in b];
d

[8.8, 6.8, 9.4, 6.4, 5.0, 7.0]

In [5]:
c.append('six');
c

['one', 'two', 'three', 'four', 'five', 'six']

In [6]:
c.sort();
c

['five', 'four', 'one', 'six', 'three', 'two']

In [7]:
c.reverse();
c

['two', 'three', 'six', 'one', 'four', 'five']

In [8]:
c[3]

'one'

In [9]:
c[3] = "seven"
c

['two', 'three', 'six', 'seven', 'four', 'five']

### Tuple

In [10]:
a = ("apple", 10)
## nested tuple
b = (("book", 20), ("bus", 40))

In [12]:
a[1]

10

In [13]:
b[0]

('book', 20)

In [14]:
b[0][1]

20

In [29]:
c = (("apple", 10), ("book", 20), ("bus", 40), ("cat", 60))

for _, n in c:
    print(n)

10
20
40
60

### Set

In [1]:
a = [1, 3, 3, 2, 5, 6, 6, 7, 8, 2, 3, 5, 6, 2, 5]
a_set = set(a)
a_set

{1, 2, 3, 5, 6, 7, 8}

In [2]:
a_set.remove(8);
a_set

{1, 2, 3, 5, 6, 7}

In [3]:
a_set.add(10)
a_set

{1, 2, 3, 5, 6, 7, 10}

In [4]:
1 in a_set

True

In [5]:
b_set = {1, 2, 3, 5, 6, 8, 9, 12, 15, 17, 18, 21}

In [6]:
a_set.union(b_set)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 12, 15, 17, 18, 21}

In [13]:
a_set.intersection(b_set)

{1, 2, 3, 5, 6}

In [14]:
a_set|b_set

{1, 2, 3, 5, 6, 7, 8, 9, 10, 12, 15, 17, 18, 21}

In [11]:
a_set & b_set

{1, 2, 3, 5, 6}

In [12]:
a_set.difference(b_set)
a_set - b_set

{7, 10}

### Dictionary

In [10]:
a_dict = {
  "apple": 10, 
  "book": 20,
  "bus": 40,
  "cat": 60
}

In [11]:
a_dict["apple"]

10

In [12]:
a_dict["book"] = 30
a_dict

{'apple': 10, 'book': 30, 'bus': 40, 'cat': 60}

In [13]:
a_dict["bike"] = 50
a_dict

{'apple': 10, 'book': 30, 'bus': 40, 'cat': 60, 'bike': 50}

In [14]:
del a_dict["apple"]
a_dict

{'book': 30, 'bus': 40, 'cat': 60, 'bike': 50}

In [15]:
del a_dict["apple"]
a_dict

KeyError: 'apple'

In [17]:
a_dict.pop("book")

30

In [18]:
a_dict

{'bus': 40, 'cat': 60, 'bike': 50}

In [4]:
"apple" in a_dict

True

In [5]:
for x in a_dict:
    print(x, a_dict[x])

apple 10
book 30
bus 40
cat 60